@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my project</h1>
    <p>To use it, click in the links on the navbar above the title</p>
</div>
